{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-img-left d-none d-md-flex">
            <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Sign Up</h5>

                {% if form.errors %}
                  {% for key, value in form.errors.items %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        {{ key|title }}: {{ value }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  {% endfor %}

                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  {% endfor %}
                {% endif %}

                {% if message %}
                    {% if msg_type == "error" %}
                      <div class="alert alert-danger alert-dismissible fade show">
                          {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% else %}
                      <div class="success alert-success alert-dismissible fade show">
                          {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endif %}
                {% endif %}

                <form method="post" action="{% url 'account:signup' %}">
                    {% csrf_token %}

                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
                        <label for="floatingInputEmail">Email</label>
                    </div>

                    <hr>

                    <div class="form-floating mb-3">
                        <input type="password" name="password1" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" name="password2" class="form-control" id="floatingPasswordConfirm" placeholder="Confirm Password">
                        <label for="floatingPasswordConfirm">Confirm Password</label>
                    </div>

                    <div class="d-grid mb-2">
                        <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Register</button>
                    </div>

                    <a class="d-block text-center mt-2 small" href="{% url 'account:login' %}">Have an account? Sign In</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
